<!-- index.html -->
<!DOCTYPE html>
<html>

<head lang="en">
    <link rel="icon" type="image/png" href="./../static/images/GitChat-Logo.png" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gotta GitChat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="./../static/css/index.css" type="text/css" rel="stylesheet">
    
</head>

<body>
    <div class="container">
        <div class="row">
            <h3 class="text-center" style="color: #f0f0f0;">
                <img id="header-icon" src="./../static/images/GitChat-Logo.png" alt="GitChat Icon">
                GitChat
            </h3>            
            <div class="col-md-10 col-md-offset-1">
                <div id="chatPanel" class="panel panel-info">
                    <div class="panel-body fixed-panel">
                        <ul class="media-list">
                        </ul>
                    </div>
                    <div class="circle-container">
                        <div id="circleG">
                            <div id="circleG_1" class="circleG"></div>
                            <div id="circleG_2" class="circleG"></div>
                            <div id="circleG_3" class="circleG"></div>
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                        <form method="post" id="chatbot-form">
                            <div class="input-group">
                                <textarea class="form-control" placeholder="Enter Message" name="text_input" id="text_input" rows="1" style="max-height: 7em;" autofocus></textarea>
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button" id="chatbot-form-btn">Send</button>
                                    <button class="btn btn-info" type="button" id="chatbot-form-btn-clear">Clear memory</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="./../static/js/index.js"></script>
    
</body>

</html>