 <!-- start_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Start Page</title>
    <link rel="icon" type="image/png" href="./../static/images/GitChat-Logo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- TODO: get another qtip version that stays active until clicking away -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="./../static/css/start_page.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2 class="text-center header-style">
            <img id="header-icon" src="./../static/images/GitChat-Logo.png" alt="GitChat Icon">
            GitChat - Configuration
        </h2>   
        <form class=".form" method="POST" action="{{ url_for('start') }}">
            <div class="form-options"></div>
            <div class="horizontal-line"></div>
                <div class="form-group form-group-textarea">
                    <label for="repo_url"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Enter the repository URL here. <br><br>For example: <br> https://github.com/SimonB97/GitChat"></i> Repo URL: </label>
                    <input type="text" class="form-control" id="repo_url" name="repo_url" placeholder="https://github.com/SimonB97/GitChat" required>
                </div>
                <div class="form-group form-group-textarea">
                    <label for="subdirectory"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Enter the subdirectory of the repository or leave blank to load the whole repository.<br><br> For example: <br>src/templates"></i> Subdirectory: </label>
                    <input type="text" class="form-control" id="subdirectory" name="subdirectory" placeholder="path/to/dir">
                </div>
                <div class="horizontal-line"></div>
                <div class="form-group">
                    <label for="model_name"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Select the model for Question Answering here. <br><br> GPT-4: most capable, slower <br> GPT-3.5-turbo: very capable, very fast"></i> Model Name: </label>
                    <div>
                        <input type="radio" id="gpt-3.5-turbo" name="model_name" value="gpt-3.5-turbo" checked>
                        <label for="gpt-3.5-turbo">GPT-3.5-turbo</label>
                        <input type="radio" id="gpt-4" name="model_name" value="gpt-4">
                        <label for="gpt-4">GPT-4</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="temperature"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="What sampling temperature to use, between 0 and 2. <br><br>Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic."></i> Temperature: </label>
                    <div class="slider-container">
                        <input type="range" class="form-control" id="temperature" name="temperature" min="0" max="2" step="0.1" value="0.0" oninput="updateSliderValue(this, 'temperature_output')" required>
                        <span id="temperature_output">0.0</span>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <div class="form-group">
                    <label for="vector_store"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Select the vector store to use here. <br><br>    Pinecone (cloud): best results, limited *requires API key* <br>Chroma (local): free, unlimited local indexes"></i> Vector Store: </label>
                    <div>
                        <input type="radio" id="vector_store_pinecone" name="vector_store" value="pinecone" checked>
                        <label for="vector_store_pinecone">Pinecone</label>
                        <input type="radio" id="vector_store_chromadb" name="vector_store" value="chromadb">
                        <label for="vector_store_chromadb">Chroma</label>
                        <input type="radio" id="vector_store_deeplake" name="vector_store" value="deeplake">
                        <label for="vector_store_deeplake">DeepLake</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="update"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Whether to update the vector store with the latest data, will take longer to load. <br><br> Note: Not working for Pinecone right now. Remove manually at app.pinecone.io "></i> Update (dysfunctional for Pinecone a.t.m.!): </label>
                    <div>
                        <input type="radio" id="update_true" name="update" value="true">
                        <label for="update_true">True</label>
                        <input type="radio" id="update_false" name="update" value="false" checked>
                        <label for="update_false">False</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="top_k"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="The number of chunks to return by the document retriever. <br><br> Note:  Depending on the chunk size and context window size of the model, too high values might fill up the context window, which leads to the LLM 'forgetting' some earlier lines of text. I suggest to try something between 5 and 50. (Chunk size is currently hardcoded: 1000 characters)"></i> Top k chunks: </label>
                    <div class="slider-container">
                        <input type="range" class="form-control" id="top_k" name="top_k" min="1" max="150" step="1" value="20" oninput="updateSliderValue(this, 'top_k_output')" required>
                        <span id="top_k_output">20</span>
                    </div>
                </div>
                <div id="alpha_form" class="form-group">
                    <label for="alpha"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="The alpha parameter controls the weighting between the dense and sparse vector search scores when Hybrid Search is used, which is currently the only search option for Pinecone. <br>(see: https://www.pinecone.io/learn/hybrid-search-intro/) <br><br>
                        1 means dense search <br> 0 means sparse search <br> 0.5 means hybrid search <br><br> Advice: Use higher values for documents that are likely similar to the training domain of the LLM. Use lower values for documents with domain-specific language (e.g. medical research rapers, maybe code)" ></i> Alpha: </label>
                    <div class="slider-container">
                        <input type="range" class="form-control" id="alpha" name="alpha" min="0.1" max="0.9" step="0.1" value="0.5" oninput="updateSliderValue(this, 'alpha_output')" required>
                        <span id="alpha_output">0.5</span>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <div class="form-group">
                    <label for="mem_window_k"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Enter the memory window size here. This determines how many of the latest messages should be kept in the AIs memory."></i> Chat Memory Length: </label>
                    <div class="slider-container">
                        <input type="range" class="form-control" id="mem_window_k" name="mem_window_k" min="0" max="40" step="1" value="6" oninput="updateSliderValue(this, 'mem_window_k_output')" required>
                        <span id="mem_window_k_output">6</span>
                    </div>
                </div>                
                <div class="form-group">
                    <label for="compress"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Whether to use the Contextual Compression Retriever from Langchain.<br> This is a tool that uses another retriever (LLM) to get relevant documents for a query, and then applies compressors and document transformers to filter out irrelevant or redundant information and return only the most relevant content to the user. <br><br>Note: You can increase the amount of chunks retrieved (top k) when enabled. Also, enabling will make repsonse times slower, depending on the model used for compression. <br><br> When enabled, choose a model for compression from the displayed drop-down menu."></i> Compression: </label>
                    <div>
                        <input type="radio" id="compress_true" name="compress" value="true" onchange="toggleModelNameCompressor()">
                        <label for="compress_true">True</label>
                        <input type="radio" id="compress_false" name="compress" value="false" checked onchange="toggleModelNameCompressor()">
                        <label for="compress_false">False</label>

                    </div>
                </div>
                <div class="form-group form-group-textarea">
                    <label for="model_name_compressor">Compression model:</label>
                    <div>
                        <select id="model_name_compressor" name="model_name_compressor" class="form-control drop-down">
                            <option value="text-davinci-003">text-davinci-003</option>
                            <option value="text-davinci-002">text-davinci-002</option>
                            <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                            <option value="gpt-3.5-turbo-0301">gpt-3.5-turbo-0301</option>
                            <option value="text-curie-001">text-curie-001</option>
                            <option value="gpt-4">gpt-4</option>
                            <option value="gpt-4-0314">gpt-4-0314</option>
                            <option value="gpt-4-32k">gpt-4-32k</option>
                            <option value="gpt-4-32k-0314">gpt-4-32k-0314</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="provide_sources"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Whether to provide sources for the answers. <br><br>Note: WORK IN PROGRESS! Not functional."></i> Provide Sources (dysfunctional): </label>
                    <div>
                        <input type="radio" id="provide_sources_true" name="provide_sources" value="true">
                        <label for="provide_sources_true">True</label>
                        <input type="radio" id="provide_sources_false" name="provide_sources" value="false" checked>
                        <label for="provide_sources_false">False</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="chain_type"><i class="info-icon glyphicon glyphicon-info-sign" data-tooltip="Choose the Chain Type here."></i> Chain Type: </label>
                    <div>
                        <input type="radio" id="llm_chain" name="chain_type" value="llm_chain">
                        <label for="llm_chain">LLM</label>
                        <input type="radio" id="conv_retr_chain" name="chain_type" value="conv_retr_chain" checked>
                        <label for="conv_retr_chain">Conversational Retrieval</label>
                    </div>
                </div>
                <div class="horizontal-line"></div>
            </div>
            <button type="submit" class="btn btn-primary submit-button">Start Chat</button>
        </form>
    </div>
    <script src="./../static/js/start_page.js"></script>
</body>

</html>